<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/loadingSpinner.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<main>

    <div class="container-fluid main">

            <form class="pt-5" id="profile-form">
                <a href="/"><img src="/images/logo.png" width="450"></a>
                <div class="alert alert-success my-4" role="alert">Вы можете сбросить пароль своего аккаунта, если забыли его.</div>

                <label for="nickName" class="mt-3"><h6>Никнейм вашего аккаунта:</h6></label>
                <input type="text" class="form-control" name="nickName" id="nickName">

                <label for="email" class="mt-3"><h6>Email, привязанный к аккаунту: </h6></label>
                <input class="form-control" name="email" id="email" type="email">

                <label for="password" class="mt-3"><h6>Придумайте новый пароль: </h6></label>
                <input type="password"  class="form-control" name="password" id="password" autocomplete="new-password" >


                <label for="repeatedPassword" class="mt-3"><h6>Повторите пароль: </h6></label>
                <input type="password"  class="form-control" name="repeatedPassword" id="repeatedPassword" autocomplete="new-password">


                <button type="submit" class="btn btn-dark mt-4" id="form-submit-btn" >Сбросить</button>
            </form>
            <div class="loader my-4" style="display: none"></div>

            <!-- Код подтверждения -->
            <div id="common-block">
                <div id="code-block" style="display:none;" class="mt-4">
                    <p id="code-timer-text" class="alert-warning"></p>
                    <input class="form-control my-2" id="code" placeholder="Введите код">
                    <button class="btn btn-primary" onclick="verifyEmailCode()">Подтвердить</button>
                </div>

                <div id="message-block" class="mt-3"></div>
            </div>

        </div>


</main>
<div th:insert="~{fragments/support_chat :: #support-chat}"></div>



<script>
    document.getElementById("profile-form").addEventListener("submit", function (e) {
        e.preventDefault();
        const msg = document.getElementById("message-block");
        msg.innerHTML = ""; //очистить все ошибки

        document.getElementById("common-block").style.display = "";
        const loadingIndicator = document.querySelector('.loader');
        const submitBTN = document.getElementById("form-submit-btn");
        loadingIndicator.style.display="";
        submitBTN.style.display = "none";

        const nickName = document.getElementById("nickName").value.trim();
        const email = document.getElementById("email").value.trim();
        const password = document.getElementById("password").value.trim();
        const repeatedPassword = document.getElementById("repeatedPassword").value.trim();

        if(!nickName||!password||!repeatedPassword||!email){
            msg.innerHTML += `<div class="alert alert-danger">Пожалуйте, заполните все поля формы.</div>`;
            loadingIndicator.style.display="none";
            submitBTN.style.display = "";
            return;
        }
        if(!(password===repeatedPassword)){
            msg.innerHTML += `<div class="alert alert-danger">Пароли не совпадют!</div>`;
            loadingIndicator.style.display="none";
            submitBTN.style.display = "";
            return;
        }
        fetch("/api/users/reset_password", {
            method: "POST",
            headers: {
                'Content-type':'application/json'
            },
            body: JSON.stringify({nickName:nickName, newPassword: password, repeatedPassword: repeatedPassword, email:email})

        }).then(res =>{
            if(!res.ok){
                submitBTN.style.display = "";
                loadingIndicator.style.display="none";
                msg.innerHTML += `<div class="alert alert-danger">Произошла ошибка. Попробуйте снова чуть позже.</div>`;
            } return res.json()})
            .then(data => {
                msg.innerHTML = "";

                if (data.ERRORS) {
                    data.ERRORS.forEach(err => {
                        msg.innerHTML += `<div class="alert alert-danger">${err}</div>`;
                    });
                    submitBTN.style.display = "";
                    loadingIndicator.style.display="none";
                    return;
                }

                if (data.EMAIL_SENT) {
                    loadingIndicator.style.display="none";
                    msg.innerHTML = `<div class="alert alert-info">На адрес <b>${email}</b> был отправлен код. Введите его в течение 1 часа.</div>`;
                    document.getElementById("nickName").readOnly = true;
                    document.getElementById("email").readOnly = true;
                    document.getElementById("code-block").style.display = "block";
                    startTimer(60 * 60);
                }

                if (data.SUCCESS) {
                        msg.innerHTML = `<div class="alert alert-success">Вы успешно сбросили свой старый пароль! Теперь можете <a href="/users/welcome" >войти в свой аккаунт</a>.</div>`;

                    document.getElementById("code-block").style.display = "none";
                    loadingIndicator.style.display="none";
                    submitBTN.style.display = "none";
                }
            });
    });


</script>
<script src="/js/main.js"></script>
<script src="/js/email_verification.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/cart_wish.js"></script>

</body>
</html>