<div id="support-chat" style="display:none;">
    <div class="chat-box shadow-lg" style="max-width: 600px; width: 100%; margin: auto;">

        <!-- Заголовок -->
        <div class="chat-header d-flex justify-content-between align-items-center px-3 py-2 bg-light text-dark">
            <strong>Поддержка</strong>
            <button type="button" class="btn btn-link p-0 m-0" onclick="closeSupportChat(true)" title="Закрыть">
                <i class="bi bi-x-circle fs-4 text-danger"></i>
            </button>
        </div>

        <!-- Тема -->
        <div id="support-chat-topic-display" class="bg-secondary text-white text-center py-2 fw-semibold w-100">
            <!-- Тема чата -->
        </div>

        <div id="support-chat-agent-buttons" style="display: none;" class="bg-white text-center py-2 fw-semibold w-100">
            <div  class="btn-group" role="group" aria-label="Basic outlined example">
                <a onclick="openUserPageStaffMethod()"><button type="button" class="btn btn-outline-dark">Открыть профиль пользователя</button></a>
                <a onclick="openSupportChatList(false)"><button type="button" class="btn btn-outline-dark">Открыть все чаты пользователя</button></a>
            </div>
        </div>

        <!-- Тело чата -->
        <div class="chat-body" id="support-chat-body" style="height: 400px; overflow-y: auto; background-color: #f8f9fa;">
            <!-- Сообщения -->
        </div>

        <div class="chat-footer p-2" id="support-chat-footer">
            <div class="d-flex flex-column w-100 align-items-start gap-1">

                <!-- Надпись "печатает" -->
                <span id="typing-indicator" style="display: none; color: gray; font-style: italic; font-size: 0.8rem;"></span>

                <!-- Поле и кнопка -->
                <div class="d-flex w-100 align-items-end gap-2">
            <textarea id="support-chat-input" class="form-control auto-resize"
                      rows="1" placeholder="Напишите сообщение..."
                      style="overflow:hidden; resize:none;"></textarea>
                    <button class="btn btn-outline-dark" onclick="sendSupportMessage()">
                        <i class="fa-solid fa-angles-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Сообщение о закрытом чате -->
        <div id="support-chat-closed-msg" class="alert alert-danger text-center mt-2" style="display: none;">
            Чат закрыт из-за неактивности. Вы можете создать новый при необходимости.
        </div>

    </div>
</div>