<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/loadingSpinner.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

    <style>
        #suggestions {
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
            z-index: 1000;
        }


    </style>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<main>

    <div class="container-fluid main">

        <h1 class="pt-5">Вы можете отредактировать данные своего профиля:</h1>

        <div class="main-input">



                <div class="text-center my-4">
                    <div class="avatar-wrapper">
                        <img th:src="${user.avatarFileName == null} ? '/images/default-avatar.jpg' : '/api/media/get/' + ${user.avatarFileName}"
                             id="user-avatar" alt="User Avatar">

                        <div class="avatar-overlay">
                            <label class="btn btn-sm btn-light mb-1">
                                Загрузить
                                <input type="file" onchange="uploadAvatar(this)" hidden multiple accept="image/*">
                            </label>

                            <button id="deleteBtn"
                                    th:style="${user.avatarFileName == null} ? 'display:none;' : 'display:inline-block;'"
                                    class="btn btn-sm btn-danger"
                                    onclick="deleteAvatar()">
                                Удалить
                            </button>
                        </div>
                    </div>
                    <h2 th:text="${user.nickName}">h</h2>
                </div>



                <form class="pt-5" id="profile-form">
                <div class="alert alert-success" role="alert">Поля, которые не хотите менять, можно оставить пустыми.</div>

                <label for="firstName" class="mt-3"><h6>Имя (отображается другим пользователям):</h6></label>
                <input type="text" th:value="${user.firstName}" class="form-control" name="firstName" id="firstName">

                <label for="lastName" class="mt-3" ><h6>Фамилия:</h6></label>
                <input type="text" th:value="${user.lastName}" class="form-control" name="lastName" id="lastName">


                <label for="email" class="mt-3"><h6>Email: </h6></label>
                <input type="email" th:value="${user.email}" class="form-control" name="email" id="email">

                    <label for="fullAddress" class="mt-3"><h6>Ваш полный адрес (нужен для заказов): </h6></label>
                    <div style="position: relative;">
                    <input type="text" th:value="${user.fullAddress}" id="fullAddress" name="fullAddress" class="form-control" placeholder="Ваш город, улица, дом, (по желанию) квартира">
                    <div id="suggestions" class="list-group position-absolute"></div>
                    </div>


                    <button type="submit" class="btn btn-dark my-4" id="form-submit-btn" >Сохранить</button>
                    <a href="/users/reset_password" class="mx-3">Хочу изменить пароль</a>
                </form>
               <div class="loader my-4" style="display: none"></div>

                <!-- Код подтверждения -->
            <div id="common-block">
            <div id="code-block" style="display:none;" class="mt-4">
                <p id="code-timer-text" class="alert-warning"></p>
                <input class="form-control my-2" id="code" placeholder="Введите код">
                <button class="btn btn-primary" onclick="verifyEmailCode()">Подтвердить</button>
            </div>

            <div id="message-block" class="mt-3"></div>
            </div>

        </div>



</main>
<div th:insert="~{fragments/support_chat :: #support-chat}"></div>


<script>
    const currentAddress = document.getElementById("fullAddress").value.trim();
    let addressTimer;
    document.getElementById('fullAddress').addEventListener('input', function () {
        clearTimeout(addressTimer);
        const query = this.value;

        addressTimer = setTimeout(() => {
            fetch(`/api/order/address/suggest?query=${query}`)
                .then(res => res.json())
                .then(data => {
                    const box = document.getElementById('suggestions');
                    box.innerHTML = '';
                    data.forEach(addr => {
                        const item = document.createElement('a');
                        item.classList.add('list-group-item', 'list-group-item-action');
                        item.innerText = addr;
                        item.onclick = () => {
                            document.getElementById('fullAddress').value = addr;
                            box.innerHTML = '';
                        };
                        box.appendChild(item);
                    });
                });
        }, 600);
    });

    const input = document.getElementById('fullAddress');
    const suggestions = document.getElementById('suggestions');

    // При клике на документ проверяею, где клик
    document.addEventListener('click', function(event) {
        if (!suggestions.contains(event.target) && event.target !== input) {
            suggestions.innerHTML = ''; // Закрываю список
        }
    });

    document.getElementById("profile-form").addEventListener("submit", async function (e) {
        e.preventDefault();
        const form = e.target;
        const formData = new FormData(form);
        const data = Object.fromEntries(
            [...formData.entries()].filter(([key]) => key !== 'fullAddress')
        );
        document.getElementById("common-block").style.display = "";
        const submitBTN = document.getElementById("form-submit-btn");
        const loadingIndicator = document.querySelector('.loader');
        submitBTN.style.display = "none";
        loadingIndicator.style.display = "";

        const msg = document.getElementById("message-block");
        msg.innerHTML = ""; //очистить все ошибки

        const address = document.getElementById("fullAddress").value.trim();


        if (address) {
            if (currentAddress !== address) {

                const response = await fetch('/api/order/address/set', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: address
                });

                if (response.status===422) {
                    submitBTN.style.display = "";
                    loadingIndicator.style.display = "none";
                    msg.innerHTML += `<div class="alert alert-danger">${await response.text()}</div>`;
                    return;

                }
                if (!response.ok){
                    submitBTN.style.display = "";
                    loadingIndicator.style.display = "none";
                    msg.innerHTML += `<div class="alert alert-danger">Произошла ошибка. Попробуйте снова чуть позже.</div>`;
                    return;

                }
            }
        }


        fetch("/api/users/update", {
            method: "POST",
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify(data)

        })
            .then(res => {
                if (!res.ok) {
                    submitBTN.style.display = "";
                    loadingIndicator.style.display = "none";
                    msg.innerHTML += `<div class="alert alert-danger">Произошла ошибка. Попробуйте снова чуть позже.</div>`;
                }
                return res.json()
            })
            .then(data => {
                msg.innerHTML = "";
                if (data.ERRORS) {
                    let errors='';
                    data.ERRORS.forEach(err => {
                        errors +=`${err}<br><br>`;
                    });
                    msg.innerHTML = `<div class="alert alert-danger">${errors}</div>`;
                    submitBTN.style.display = "";
                    loadingIndicator.style.display="none";
                    return;
                }


                if (data.EMAIL_SENT) {
                    loadingIndicator.style.display = "none";
                    const inputs = form.querySelectorAll('input, textarea, select');
                    inputs.forEach(input => {
                        input.readOnly = true;
                    });
                    msg.innerHTML = `<div class="alert alert-info">На адрес <b>${formData.get("email")}</b> был отправлен код. Введите его в течение 1 часа.</div>`;


                    document.getElementById("code-block").style.display = "block";


                    startTimer(60 * 60);
                }

                if (data.SUCCESS) {
                    msg.innerHTML = `<div class="alert alert-success">Данные профиля были успешно изменены.</div>`;

                    document.getElementById("code-block").style.display = "none";
                    loadingIndicator.style.display = "none";
                    submitBTN.style.display = "none";
                }
            });
    });




</script>




<script>
    async function uploadAvatar(input) {
        const file = input.files[0];
        if (!file) return;

        const formData = new FormData();
        formData.append("file", file);


        const resp = await fetch('/api/users/avatar/upload', {
            method: 'POST',
            body: formData
        });
        if (resp.status === 413) {
            const text = await resp.text();
            alert('Слишком большой размер загружаемых файлов. Убедитесь, что один файл не превышает 2 мб.');
            console.log('Слишком тяжелый запрос' + text);
        }
        else if(!resp.ok){
            const text = await resp.text();
            alert('Ошибка при загрузке аватара.');
            console.log('Ошибка при загрузке аватара: ' + text);

        } else{
            document.getElementById("user-avatar").src = URL.createObjectURL(file);
            document.getElementById("deleteBtn").style.display = "inline-block";
        }

    }

    function deleteAvatar() {

        fetch("/api/users/avatar/delete", {
            method: "DELETE",
            credentials: "include"
        })
            .then(res => {
                if (res.ok) {
                    document.getElementById("user-avatar").src = "/images/default-avatar.jpg";
                    document.getElementById("deleteBtn").style.display = "none";
                } else {
                    throw new Error("Ошибка при удалении аватара");
                }
            })
            .catch(err => {
                alert(err.message);
            });
    }


</script>
<script src="/js/main.js"></script>
<script src="/js/email_verification.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/cart_wish.js"></script>
<script src="/js/support.js"></script>
<script src="/js/order.js"></script>

</body>
</html>